/vim/bin/Debug/Visd.sdaddin
/vim/obj/x86/Debug/Vim.csproj.FileListAbsolute.txt
/vim/bin/Debug/AvalonDock.dll
/vim/bin/Debug/ICSharpCode.AvalonEdit.AddIn.dll
/vim/bin/Debug/ICSharpCode.AvalonEdit.dll
/vim/bin/Debug/ICSharpCode.Core.Presentation.dll
/vim/bin/Debug/ICSharpCode.Core.WinForms.dll
/vim/bin/Debug/ICSharpCode.Core.dll
/vim/bin/Debug/ICSharpCode.NRefactory.dll
/vim/bin/Debug/ICSharpCode.SharpDevelop.Dom.dll
/vim/bin/Debug/ICSharpCode.SharpDevelop.Widgets.dll
/vim/bin/Debug/ICSharpCode.SharpDevelop.dll
/vim/bin/Debug/Mono.Cecil.dll
/vim/bin/Debug/Vim.dll
/vim/bin/Debug/Vim.pdb
/vim/bin/Debug/log4net.dll
/vim/obj/x86/Debug/ResolveAssemblyReference.cache
/vim/obj/x86/Debug/Vim.dll
/vim/obj/x86/Debug/Vim.pdb
/vim/bin/Debug/ViSD.dll
/vim/bin/Debug/ViSD.pdb
/vim/obj/x86/Debug/ViSD.dll
/vim/obj/x86/Debug/ViSD.pdb
